---
import Layout from "~/layouts/Layout.astro";
import { getLocale, t } from "i18n:astro";
---

<Layout title={t("pages.AGB.title")}>
    <div class="content-container">
        <button class="go-back-box"> </button>
    </div>
</Layout>
