---
import { t } from "i18n:astro";
import HeroMessage from "~/components/HeroMessage.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="slt">
  <div class="justify-center items-center">
    <HeroMessage message="hero" />
  </div>
  <p><a href="/sitemap-0.xml">Sitemap</a></p>
</Layout>
